@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.top{
    margin: 0 auto;
    width: 20px;
    height: 50px;
    background: black;
}
.contenedor{
    margin: 0 auto;
    background: black;
    width: 200px;
    height: 350px;
}
.space{
    height: 10px;
}
.redlight{
    margin: 0px auto;
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.yellowlight{
    margin: 0px auto;
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.greenlight{
    margin: 0px auto;
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.glowr{
    box-shadow: 0 0 50px orangered;
}
.glowy{
    box-shadow: 0 0 50px yellow;
}
.glowg{
    box-shadow: 0 0 50px green;
}
body{
    background-color: gray;
}